<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous">

    <title>YouStreamer</title>
  </head>
  <body>
    <div class="container mt-5 text-center">
      <h1>Audio Stream</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <img class="card-img-top" src="https://img.youtube.com/vi/<%= thumbnail %>/hqdefault.jpg" alt="Card image cap">
          
            <div class="card-body text-center">
              <form class="needs-validation" action="/create" method="POST" novalidate>
                <input name="vidurl" id="vidurl" class="form-control form-control-lg mb-2" type="text" placeholder="Enter video URL">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <p>Read from MP3 file</p>
          <audio controls preload="auto" style="width:100%;">
            <source src="./music/<%= thumbnail %>" type="audio/mpeg"> Your browser does not support the audio element.
          </audio>
        </div>
      </div>  
      
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>