<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous">

    <title>YouStreamer</title>
  </head>
  <body>
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <form class="needs-validation" action="/create" method="POST" novalidate>
            <div class="card-header">Audio Streaming</div>
            <img class="card-img-top" src="https://img.youtube.com/vi/<%= thumbnail %>/hqdefault.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <input name="vidurl" id="vidurl" class="form-control form-control-lg mb-2" type="text" placeholder="Enter video URL" required>
              <div class="invalid-feedback">
                Please add a valid URL.
              </div>
              <audio controls preload="auto" style="width:100%;">
                <source src="./music" type="audio/mpeg"> Your browser does not support the audio element.
              </audio>
              <div id="streamPlayer"></div>
              <!-- <audio controls preload="auto" style="width:100%;">
                <source src="./stream" type="audio/mpeg"> Your browser does not support the audio element.
              </audio> -->
            </div>
            <div class="card-footer">
              <button class="btn btn-primary btn-lg" type="submit">Submit</button>
              <a id="btnStream" class="btn btn-danger btn-lg text-white">Stream</a>
              <a id="btnCreate" class="btn btn-warning btn-lg text-white">Create</a>
              <a id="btnDownload" class="btn btn-success btn-lg text-white">Download</a>
            </div>
          </form>
          </div>
        </div>
      </div>  
      
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();

    const btnStream = document.getElementById('btnStream');

    btnStream.addEventListener('click', function(e) {
      // Get the value of the text input.
      const inputURL = JSON.stringify(document.getElementById('vidurl').value);
      // console.log('Streaming button was clicked');
      // console.log(inputURL);      
      postRequest('/create', {vidurl: inputURL})
      .then(
        // data => console.log(data);
        streamPlayer(data)
      ); // Result from the `response.json()` call
    });

    async function postRequest(url, data) {
      return fetch(url, {
        credentials: 'same-origin', // 'include', default: 'omit'
        method: 'POST', // 'GET', 'PUT', 'DELETE', etc.
        body: JSON.stringify(data), // Coordinate the body type with 'Content-Type'
        headers: new Headers({
          'Content-Type': 'application/json'
        }),
      })
      .then(response => response.json())
      .catch(error => console.error(error))
    };

    // Render the Audio Player on demand
    function streamPlayer(streamURL){
      const player = document.getElementById('streamPlayer');
      // Append music player here.
      player.innerHTML = "<p>Read from MP3 Stream</p>" 
          +"<audio controls preload='auto' style='width:100%;'>"
          +"<source src='./stream/"+streamURL+"' type='audio/mpeg'> Your browser does not support the audio element."
          +"</audio>";
    };

    </script>
  </body>
</html>